<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "site" %>
    <%= javascript_include_tag "jquery-1.11.2.min.js", "jquery.form", "jquery.validate", "contact-form", "galleria-1.2.9.min" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="wrapper">
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    </div>
  </body>
</html>